.header {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  margin-bottom: 5.5rem;

  &__main-logo {
    width: 86px;
  }
}

@media (max-width: 720px) {
  .header {
    padding-top: 4rem;
    margin-bottom: 2.4rem;
  }
}
