@use '../abstracts/variables' as *;

.main {
  display: flex;
  justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

.calculator {
  display: flex;
  align-items: center;
  max-width: 920px;
  height: 480px;
  flex-grow: 1;
  gap: 48px;
  padding: 32px 32px 32px 48px;
  border-radius: 25px;
  background-color: white;

  &__form-half {
    max-width: 380px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
  }

  &__form-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
  }

  &__form-field--tip {
    gap: 16px;
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
    color: $dark-grayish-cyan;
  }

  &__input-container {
    position: relative;
  }

  &__input {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: inherit;
    color: $very-dark-cyan;
    height: 48px;
    width: 100%;
    background-color: #f3f9fa;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 6px;
    caret-color: $strong-cyan;

    &:focus {
      border: 2px solid $strong-cyan;
    }
  }

  &__input::placeholder {
    opacity: 0.35;
    color: inherit;
  }

  &__input--custom {
    max-width: 118px;
    opacity: 1;
    color: $very-dark-cyan;
    text-align: right;

    &.tip-option-selected {
      border: 2px solid $strong-cyan;
    }
  }

  &__input--custom::placeholder {
    opacity: 1;
    color: #547878;
    text-align: center;
  }

  &__input-logo {
    width: 10px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__input-logo--person {
    width: 13px;
  }

  &__error-msg {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: #e17457;
    display: none;

    &--active {
      display: block;
    }
  }

  &__tip-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 14px;
  }

  &__tip-option-btn {
    font-family: inherit;
    background-color: $very-dark-cyan;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 14px;
    transition: background-color 150ms;

    &:hover:not(.tip-option-selected) {
      background-color: #9fe8df;
      color: $very-dark-cyan;
    }
  }

  &__tip-option-btn.tip-option-selected {
    background-color: $strong-cyan;
    color: $very-dark-cyan;
  }

  &__display-half {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: $very-dark-cyan;
    padding: 40px;
    border-radius: 15px;
    height: 100%;
    min-width: 310px;
  }

  &__display-value-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__display-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__display-type {
    color: white;
    font-weight: bold;

    span {
      font-size: 13px;
      font-weight: bold;
      color: $grayish-cyan;
      display: block;
    }
  }

  &__display-value {
    font-size: 48px;
    font-weight: bold;
    color: $strong-cyan;
  }

  &__reset-btn {
    border: none;
    opacity: 0.35;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: $very-dark-cyan;
    background-color: #0d686d;
    padding-top: 9px;
    padding-bottom: 9px;
    text-transform: uppercase;
    font-family: inherit;
    border-radius: 5px;
    pointer-events: none;

    &--active {
      pointer-events: all;
      background-color: $strong-cyan;
      opacity: 1;

      &:hover {
        background-color: #9fe8df;
      }
    }
  }
}

@media (max-width: 1024px) {
  .calculator__display-value {
    font-size: 40px;
  }
}

@media (max-width: 840px) {
  .calculator__input--custom {
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .main {
    padding: 0;
  }

  .calculator {
    flex-direction: column;
    max-width: 375px;
    height: auto;
    border-radius: 25px 25px 0 0;
    padding: 32px 24px;
    gap: 32px;

    &__form {
      gap: 32px;
      padding: 0 8px;
    }

    &__error-msg {
      font-size: 14px;
    }

    &__tip-options {
      grid-template-columns: repeat(2, 1fr);
    }

    &__input--custom {
      max-width: 100%;
      font-size: 1.5rem;
    }

    &__display-half {
      padding: 36px 24px 24px 24px;
      min-width: 327px;
      gap: 34px;
    }

    &__display-value-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__display-value {
      font-size: 32px;
    }
  }
}
